/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
html {
   height: 100%;
   color: #ffffff;
   text-align: center;
   background-repeat: no-repeat;
}

body {
   font-family: 'Quicksand', sans-serif;
   height: 100%;
   background-attachment: fixed;
   background-image: linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 100px;
}


h3 {
  font-family: 'Quicksand', sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.receive-message {
  background-color: #134d71;
  color: #ffffff;
  border-radius: 5px;
  width: 170px;
}
.message-box {
  background-color: white;
  color: black;
  padding: 25px;
  width: 470px;
  height: 90px;
  margin-left: 450px;
  border-radius: 15px;
}
