/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  align-items: center;
  background: linearGradient(#134d71)
  background-attachment: fixed;
  color: #ffffff;
  display: ?????block;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
h1 {
  margin-bottom: 80px;
}
h3 {
  font-size: x-large;
}
